<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/utils.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/site.css"/>
    <script src="js/typed.js"></script>
    <script>
      $(function(){
        $("#message").typed({
            strings: ["A social network for gamers.", "Bringing together gamers from all platforms.", "Sign up today!"],
            typeSpeed: 0
          });
      });
    </script>
  </head>

  <body>

    <div class="menu">
      
      <!-- Menu icon -->
      <div class="icon-close">
        <img src="assets/close-menu-light.png" height="40px" onmouseover="this.src='assets/close-menu-light.png'" onmouseout="this.src='assets/close-menu-dark.png'" onclick="closeMenu();" >
      </div>

      <!-- Menu -->
      <ul class="menu-list">
        <img id="profile-image" src="assets/Ramiel.jpg" width="150px" height="150px" />
        <div><li><a href="#">Profile</a></li></div>
        <li><a href="#">Matches</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
	
	<!-- Main body -->
    <div class="main">
      <img id="menu-button" src="assets/menu-logo-white.png" onmouseover="this.src='assets/menu-logo-orange.png'" onmouseout="this.src='assets/menu-logo-white.png'" onclick="openMenu();" />
	  <a href="index.html"><img id="tfd-logo" src="assets/tfd-white.png" height="150px" onmouseover="this.src='assets/tfd-orange.png'" onmouseout="this.src='assets/tfd-white.png'"/></a>
	  <span id="message"></span>
      <div class="user-buttons">
        <%= button_to "Sign in", login_path, :class => "button", :method => :get %>
        <%= button_to "Sign up", signup_path, :class => "button", :method => :get %>
      </div>
    </div>
  </body>
</html>
